<h2>Welcome to Your Profile</h2>

<section id="user-info">
  <table>
    <tr>
      <td>Email:</td>
      <td><%= current_user.email %></td>
    </tr>

    <tr>
      <td>Name:</td>
      <td><%= current_user.name %></td>
    </tr>

    <tr>
      <td>Address:</td>
      <td><%= current_user.street_address %>, <%= current_user.city %> <%= current_user.state %>, <%= current_user.zip %></td>
    </tr>

    <tr>
      <td>Account Level:</td>
      <td><%= current_user.role %></td>
    </tr>
  </table>
  <br>
  <%= link_to 'Edit Profile', edit_profile_path %>
  <%= link_to 'Change Password', "/profile/edit/password" %>
  <% if current_user.has_orders? %>
    <%= link_to 'My Orders', orders_path %>
  <% end %>
</section>

