<p>Order Status: <%=@order.check_status%></p>

<%@order.item_orders.each do |item_order|%>
  <section id='item_order-<%=item_order.item_id %>'>
    Item Id: <%=item_order.item_id%><br>
    Item Name: <%=item_order.item.name%><br>
    From: <%=item_order.item.merchant.name%><br>
    Status:
    <%if item_order.is_mine?(current_user.merchants.first.id) && item_order.status == "Unfulfilled" && item_order.enough_stock?%>
      <%=link_to "Fulfill", "/item_orders/#{item_order.id}", method: :patch%><br>
    <%elsif item_order.is_mine?(current_user.merchants.first.id) && item_order.status == "Fulfilled"%>
        Fulfilled
    <%elsif item_order.is_mine?(current_user.merchants.first.id) && !item_order.enough_stock?%>
        Item cannot be fulfilled
    <%elsif !item_order.is_mine?(current_user.merchants.first.id)%>
      None of your business
    <%end%><br><br><br>
  </section>
<%end%>
