<h1><%=@order.name%></h1><br>
<p><%=@order.address%></p>
<p><%=@order.city%></p>
<p><%=@order.state%></p>
<p><%=@order.zip%></p>

<p>Order Status: <%=@order.current_status%></p>

<%@order.item_orders.each do |item_order|%>
  <%if item_order.item.merchant.id == current_user.merchants.first.id%>
  <section id='item_order-<%=item_order.item_id %>'>
    Item Id: <%=item_order.item_id%><br>
    <%= image_tag "#{item_order.item.image}" %><br>
    Item Name: <%=link_to "#{item_order.item.name}", "/items/#{item_order.item.id}"%><br>
    Price: <%=number_to_currency(item_order.price)%><br>
    Quantity: <%=item_order.quantity%><br>
    From: <%=item_order.item.merchant.name%><br>
    Status:
    <%if item_order.is_mine?(current_user.merchants.first.id) && item_order.status == "Unfulfilled" && item_order.enough_stock?%>
      <%=link_to "Fulfill", "/item_orders/#{item_order.id}", method: :patch%><br>
    <%elsif item_order.is_mine?(current_user.merchants.first.id) && item_order.status == "Fulfilled"%>
        Fulfilled
    <%elsif item_order.is_mine?(current_user.merchants.first.id) && !item_order.enough_stock?%>
        Item cannot be fulfilled
    <%end%><br><br><br>
  </section>
  <%end%>
<%end%>
