<h1>Create New Item For <%=link_to @merchant.name, "/merchants/#{@merchant.id}" %></h1>

<center>
  <%= form_for @item, url: "/merchants/#{@merchant.id}/items", method: :post do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, value: @item.name %>

    <%= f.label :description %>
    <%= f.text_field :description, value: @item.description %>

    <%= f.label :price %>
    <%= f.number_field :price, value: @item.price, min: 0.5, step: 0.5 %>
    <br>
    <%= f.label :image %>
    <%= f.text_field :image, value: @item.image %>

    <%= f.label :inventory %>
    <%= f.number_field :inventory, value: @item.inventory, min: 0 %>

    <%= f.submit 'Create Item' %>
  <% end %>
</center>
