<h2>Welcome to <%= "#{@user_to_view.name}" %>'s Profile</h2>

<section id="user_to_view-info">
  <table>
    <tr>
      <td>Email:</td>
      <td><%= @user_to_view.email %></td>
    </tr>

    <tr>
      <td>Name:</td>
      <td><%= @user_to_view.name %></td>
    </tr>

    <tr>
      <td>Address:</td>
      <td><%= @user_to_view.street_address %>, <%= @user_to_view.city %> <%= @user_to_view.state %>, <%= @user_to_view.zip %></td>
    </tr>

    <tr>
      <td>Account Level:</td>
      <td><%= @user_to_view.role %></td>
    </tr>
  </table>
  <br>
</section>
